/* Add this style to your CSS */
.custom-progress::-webkit-slider-thumb {
  background-color: #343a40 !important; /* Change this to your desired dark color */
}

.custom-progress::-moz-range-thumb {
  background-color: #343a40 !important; /* Change this to your desired dark color */
}

.custom-progress::-ms-thumb {
  background-color: #343a40 !important; /* Change this to your desired dark color */
}

.progress-container {
  width: 70%;
}

.title {
  width: 200px;
}

@media (max-width: 767px) {
  .progress-container {
    width: 100%;
    /* Adjust as needed */
  }
  .title {
    width: 90%;
  }
}

.btn-lg:active {
  filter: brightness(80%);
}
.info {
  position: absolute;
  z-index: 9999;
  top: 60vh;
  left: 10vw;
  right: 10vw;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
}
.spinner-wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  height: 60px !important;
  width: 60px !important;
}
